.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.keywords-table > tbody > tr > td {
  min-width: 200px;
  height: calc(10px + 4vmin);
  border: 1px solid #61dafb;
}

.keywords-table {
  border-collapse: collapse;
}

.toolbar {
  display: flex;
  margin-bottom: calc(8px + 2vmin);
  align-items: center;
}

.toolbar,
.keywords-table {
  width: 1020px;
}

.keyword {
  display: flex;
  align-items: start;
  flex-flow: column;
  flex: 1;
}

.score-counter,
.timer-countdown {
  font-size: calc(20px + 3vmin);
}

.keyword-input {
  height: calc(20px + 3vmin);
  font-size: inherit;
  border-radius: 4px;
  border: none;
  margin-top: 4px;
}

.score,
.timer {
  width: calc(50px + 15vmin);
}

.play {
  align-self: flex-end;
}

.play-button {
  background-repeat: no-repeat;
  width: calc(22px + 3vmin);
  height: calc(23px + 3vmin);
  border-radius: 4px;
  background-size: calc(20px + 3vmin);
  border: 1px solid black;
  filter: invert(100%);
  background-color: transparent;
  transition: 0.2s;
}

.play-button:hover {
  filter: invert(0%);
  background-color: white;
}

.title {
  margin-bottom: calc(18px + 1vmin);
}

.title > p {
  font-size: calc(20px + 3vmin);
}

.title > p, h1 {
  margin: 0;
}